.Contador input {
  font-size: 1.4rem;
  width: 60px;
}

.Contador button {
  margin: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #dfc5b8;
  border: none;
  font-size: 1.5rem;
}